.sideMenu {
    position: absolute;
    background: #fff;
    height: 99vh;
    width: 20vw;
    right: 0px;
    padding: 10px;

}
body {
    background: #cccccc;
    overflow: hidden;
}

.slideRight {
    transition: 0.5s all ease;
    right: -20vw;
}

.slideLeft {
    transition: 0.5s all ease;
    right: 0;
}
.menuButton{
    float: left;
}
.menuHeader{
    text-align: center;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #000;
    padding: 0px 10px 10px 10px;

}
