.links {
    text-decoration: none;
}

.board-name {
    font-size: 22px;
}

.boards {
    float: left;
    color: black;
    margin: 10px;
    height: 118px;
    width: 18%;
    background-color: gainsboro;
    border-radius: 5px;
}

.new-board {
    text-align: center;
    margin: 10px 0;
}

.new-board-btn {
    margin-top: 10px;
    width: 15%;
    height: 70px;
}